name: Boinc
version: "2.0.0"
slug: boinc
description: Downloads scientific computing jobs and runs them
url: "https://github.com/hectorespert/boinc-addons/tree/main/boinc"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
ports:
  31416/tcp: null
video: true
host_pid: true
host_uts: true
schema:
  gui_rpc_password: "password?"
  remote_hosts:
    - "str?"
  allow_remote_gui_rpc: "bool?"
  account_manager_url: "str?"
  account_manager_username: "str?"
  account_manager_password: "password?"
  start_hour: "match(^(?:[01]\\d|2[0-3]):[0-5]\\d$)?"
  end_hour: "match(^(?:[01]\\d|2[0-3]):[0-5]\\d$)?"
image: "ghcr.io/hectorespert/{arch}-addon-boinc"
apparmor: false
map:
  - addon_config
